.skeleton {
  background-color: #c7c7c7;
  margin: 0.75rem 0;
  border-radius: 0.25rem;
}

.skeleton.title {
  height: 1.8rem;
  /* height: 1.25rem; */
  margin-bottom: 1rem;
}

.skeleton.text {
  height: 1.24rem;
  /* height: 0.75rem; */
}

.skeleton.button {
  height: 2.3rem;
}

.skeleton.width-100 {
  width: 100%;
}

.skeleton.width-50 {
  width: 50%;
}

.skeleton.width-30 {
  width: 30%;
}

.skeleton.width-15 {
  width: 15%;
}

/* Podemos criar outros esqueletos aqui: */

.skeleton.profile-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* Animation */
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
