.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #17191f;
}

.navbar ul {
  display: flex;
  gap: 1rem;
}

.new-btn {
  font-weight: bold;
  border: 1px solid #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  opacity: 1;
}

.new-btn:hover {
  background-color: #ffffff;
  border: 1px solid #17191f;
  color: #17191f;
}
